@import "tailwindcss";

@theme {
  --animate-wall: wall 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    pulse 2s ease-in-out infinite;

  --animate-traversed: traversed 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  --animate-path: path 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes wall {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes traversed {
  0% {
    transform: scale(0.3);
    background-color: #9333eabf;
    border-radius: 100%;
  }

  50% {
    background-color: #4f46e5bf;
  }

  75% {
    transform: scale(1.2);
    background-color: #3b82f6bf;
  }

  100% {
    transform: scale(1);
    background-color: #22d3ee;
  }
}

@keyframes path {
  0% {
    transform: scale(0.3);
    background-color: #e11d48bf;
    border-radius: 100%;
  }

  50% {
    background-color: #ea580cbf;
  }

  75% {
    transform: scale(1.2);
    background-color: #fb923cbf;
  }

  90% {
    transform: scale(0.8);
    background-color: #fde68a;
  }

  100% {
    transform: scale(1);
  }
}
