@import "tailwindcss";

@theme {
  --animate-wall: wall 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    pulse 2s ease-in-out infinite;

  --animate-traversed: traversed 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  --animate-path: path 1s cubic-bezier(0.4, 0, 0.2, 1),
    pulse 2s ease-in-out infinite;
}

@keyframes wall {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes traversed {
  0% {
    transform: scale(0.3);
    background-color: #b569fbbf;
    border-radius: 100%;
  }

  50% {
    background-color: #382fe1bf;
  }

  75% {
    transform: scale(1.2);
    background-color: #18376abf;
  }

  100% {
    transform: scale(1);
    background-color: #2274ee;
  }
}

@keyframes path {
  0% {
    transform: scale(0.3);
    background-color: #ff0037d6;
    border-radius: 100%;
  }

  50% {
    background-color: #ff4000bf;
  }

  75% {
    transform: scale(1.2);
    background-color: #f55200bf;
  }

  90% {
    transform: scale(0.8);
    background-color: #ff8000;
  }

  100% {
    transform: scale(1);
  }
}
