@import "tailwindcss";

@theme {
  --animate-wall: wall 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    pulse 2s ease-in-out infinite;
}

@keyframes wall {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
